---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="私について"
	description="kyana0817について"
	pubDate={new Date('August 08 2021')}
>
	<section>
		<h2>経歴</h2>
		<dl class="c-list">
			<dt>-2021年3月</dt>
			<dd>コンピュータサイエンスを専攻</dd>
			<dt>2022年4月-<wbr>2024年3月</dt>
			<dd>スタートアップ企業でWebエンジニアとして就職</dd>
			<dt>2024年4月-</dt>
			<dd>WebエンジニアとしてSESに転職</dd>
		</dl>
	</section>
	<section>
		<h2>問合せ先</h2>
		<dl class="c-list">
			<dt>メールアドレス</dt>
			<dd>kyana0817@gmail.com</dd>
		</dl>
	</section>
</Layout>

<style>
	.c-list {
		display: grid;
		grid-template-columns: minmax(120px,180px) minmax(50%,1fr);
		gap: 8px 4px;
	}
	.c-list dt {
		text-wrap: nowrap;
		font-weight: bold;
	}
</style>
