---
import { SITE_TITLE } from '../consts'
import logo from '/public/logo.svg?raw'
---

<header class="c-app__header">
	<nav class="c-app__menu">
		<h2>
			<a class="c-app__logo" href="/">
				<p class="c-app__logo__text">{SITE_TITLE}</p>
				<Fragment set:html={logo}/>
			</a>
		</h2>
		<div class="c-app__menu-links">
			<a class="c-app__menu-link" href="/blog">記事</a>
			<a class="c-app__menu-link" href="/scrap">スクラップ</a>
			<a class="c-app__menu-link" href="/about">詳しく</a>
		</div>
	</nav>
</header>

<style>
.c-app__header {
	border-bottom: 1px solid var(--border-primary);
	padding: 0 8px;
}

.c-app__menu {
	display: flex;
	max-width: var(--main-width);
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	
}

.c-app__menu-links {
	display: flex;
	height: 100%;
	gap: 8px;
}

.c-app__menu-link {
	text-decoration: none;
	padding-top: 16px;
	font-size: 1.6rem;
	color: var(--text-primary);
	font-weight: 600;
}

.c-app__menu-link:hover {
	text-decoration: underline;
}

.c-app__logo {
	color: var(--text-primary);
}

.c-app__logo > svg {
	user-select: none;
}

.c-app__logo__text {
	display: none;
}

</style>
